.testimonials{
  @include section;
  background: $lightblue;
  // height: 300px;
  color: white;
  h2 { color: white;}
}
.sliderimg{
  // width: 50%;
  height: 400px;
  object-fit: cover;
  z-index: 0;
}
