.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__list{
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
.services__service{
  box-shadow: 0px 4px 8px #aaa;
  border-radius: 16px;
  background: $lightblue;
  // background: #69ff69;
  padding: 30px;
  margin: 32px 20px;
  text-align: center;
  width: 45%;
  h3 {
    color: white;
    font-size: 1.7rem;
    border-bottom: 4px solid $darkblue;
    padding-bottom: 16px;
    margin: 25px 32px;
    margin-top: 0;
  }
}
ul {
  list-style: none;
  text-align: left;
  li {
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
  }
}
.check {
  height: 20px;
  margin-right: 6px;
  z-index: 1;
  filter: invert(76%) sepia(85%) saturate(362%) hue-rotate(58deg) brightness(102%) contrast(113%);
}

@media (max-width: 1340px) {
  .services__list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services__service{
    margin: 0;
    width: 100%;
    max-width: 800px;
    margin: 20px;
  }
  ul li {
    font-size: 1rem;
    display: flex;
  }
  .services__service h3{
    font-size: 20px;
  }
};
