.schedule{
  background: #00000099;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
}
.schedule__inner{
  position: relative;
  width: 650px;
  background: $lightblue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 10px;
  h3{
    align-self: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  input{
    margin-bottom: 16px;
    margin-top: 4px;
    height: 25px;
    border-radius: 20px;
    padding-left: 15px;
    font-size: 16px;
    border: none;
  }
  span{font-weight: bold; color: $darkblue; font-size: 1.1rem;}
}
.schedule__box{
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 16px;
  &:hover{cursor: pointer;}
}
.schedule__icon-2{
  height: 60px;
  margin-right: 24px;
  background-size: cover;
}
.schedule__icon-containers{
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  margin: 10px 0;
}
.active{
  filter: brightness(0) saturate(100%) invert(36%) sepia(12%) saturate(1880%) hue-rotate(185deg) brightness(95%) contrast(88%);
}
.schedule__icon-container{
  margin: 20px;
  display: flex; flex-direction: column;
  align-items: center;
  &:hover{cursor: pointer; span {color: $darkblue;} filter: brightness(0) saturate(100%) invert(36%) sepia(12%) saturate(1880%) hue-rotate(185deg) brightness(95%) contrast(88%);}
  span{color: $lightblue; font-size: 1rem;}
  background: none;
  border: none;
}
.schedule__icon{
  height: 80px;
  margin-bottom: 10px;
  filter: brightness(0) saturate(100%) invert(79%) sepia(9%) saturate(1070%) hue-rotate(188deg) brightness(81%) contrast(95%);
}
.form {
  display: flex;
  flex-direction: column;
}
.schedule__buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  align-self: center;
}
.schedule__button{
  border: none;
  width: 48%; height: 30px;
  background: $darkblue;
  border-radius: 10px;
  color: white;
  font: inherit;
  &:hover{
    cursor: pointer
  }
}
@media(max-width: 350px) {
  .schedule__button{
    width: 120px; height: 25px;
  }
}
.schedule__cancel{
  background: none;
  border: 2px solid $darkblue;
  color: $darkblue;
  margin: 0 auto;
}
@media(max-width: 747px) {
  .schedule__inner{
    width: 100%;
    margin: 0 20px;
    padding: 16px;
    padding-top: 32px;
    h3{
      font-size: 1.4rem;
    }
    span{
      font-size: 1rem;
    }
    input{
      height: 25px;
      font-size: 16px;
    }
  }
  .schedule__icon{
    height: 50px;
  }
}


@media(max-width: 486px) {
  .schedule__box {
    font-size: 1.2rem;
  }
  .schedule__icon-2{
    height: 40px;
  }
}
