.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: sticky;
  color: white;
  font-size: 20px;
  top: 0px;
  background: $darkblue;
  z-index: 2;
  box-shadow: 3px 0px 10px #000000;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  height: 70px;
}
.header__logo-1{
  height: 36px;
  background-image: cover;
}
.header__logo-2{
  margin-left: 20px;
  height: 50px;
  // width: 50px;
}
.header__nav{
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    &:hover{
      border-bottom: 2px solid white;
      cursor: pointer;
    }
  }
}
.header__cta{
  background: white;
  color: $darkblue;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  &:hover{
    cursor: pointer;
    background: $lightblue;
    color: white;
  }
}
.header__hamburger{
  height: 40px;
  display: none;
}
.header__nav-small {
  position: fixed;
  top: 70px; right: 0px;
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: right;
  background: gray;
  border-bottom-left-radius: 10px;
  display: none;
}
.header__link-small{
padding: 10px 0;
margin-right: 20px;
border-bottom: 2px solid white;
}
.header__link-button{
  background: none;
  font: inherit;
  border: none;
  color: white;
  text-align: right;
  padding-right: 20px;
  height: 40px;
}

@media (max-width: 1030px) {
  .header__nav{
    display: none;
  }
  .header__hamburger{
    display: initial;
  }
  .header__nav-small{
    display: flex;
  }
};

@media (max-width: 640px) {
  .header__logo-1,
  .header__logo-2{
    height: 25px;
  }
  .header__hamburger{
    height: 25px;
  }
  .header__nav-small{
    top: 35px;
  }
}
