@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$darkblue: #4c6092;
$lightblue: #95a3ca;

$lighttan: #efca86;
$mediumtan: #d9ac51;
$darktan: #c58a2a;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.app {
  min-height: 150vh;
  position: relative;
}
h1{
  font-size: 45px;
}
h2{
  font-size: 2.4rem;
  margin-top: 25px;
  color: $darkblue;
}
@media(max-width: 600px) {
  h2{font-size: 1.6rem;}
}
@mixin section(){
  width: 100vw;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import './Landing/Intro/intro';
@import './Header/header';
@import './Landing/Services/services';
@import './Landing/Testimonials/testimonials';
@import './Landing/Contact/contact';
@import './Landing/Pricing/pricing';
@import './Landing/Schedule/schedule';
