.intro {
  width: 100%;
  height: 500px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    // color: $lighttan;
    margin-bottom: 30px;
  }
  h2 {
    color: $lightblue;
    margin-bottom: 30px;
    font-size: 30px;
  }
}
.intro__logo{
  height: 200px;
  // border: 2px solid white;
  margin-bottom: 30px;
}
.button__cta{
  background: red;
  background: $lighttan;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}
